/* ======= MAIN ======= */
:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --text-color: #434455;
  --main-white: #ffffff;
  --opacity-white: rgba(255, 255, 255, 0.3);
  --light-mode: #f4f4fd;
  --aacent: #e7e9fc;
  --green: #31d0aa;
  --light-slate: #8e8f99;
  --modal-backdrop: rgba(46, 47, 66, 0.4);
  --modal-background: #fcfcfc;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--main-white);
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  min-width: 320px;
}
img {
  display: block;
}
main {
  margin-top: 70px;
}
.container {
  padding: 0 15px;
  max-width: 1158px;
}
.section {
  padding: 96px 0;
}
.link {
  text-decoration: none;
}

/* ======= HEADER ======= */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--aacent);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  min-height: 70px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--main-white);
  z-index: 90;
}
.main-div {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.nav-menu {
  display: flex;
  align-items: center;
}

/* menu ukryte na mobile */
.nav-menu-list {
  display: none;
}

.address-list {
  display: flex;
  gap: 40px;
}

.logo {
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  color: var(--primary-brand);
  font-size: 18px;
  font-weight: 800;
}
.second-part-logo {
  color: var(--dark);
}
.items {
  display: inline-block;
  padding: 24px 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.menu-item {
  position: relative;
  color: var(--dark);
  font-weight: 500;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-item:hover,
.menu-item:focus,
.menu-item:active {
  color: var(--pressed-state);
}
.menu-item::after {
  position: absolute;
  content: "";
  height: 4px;
  width: 100%;
  background-color: var(--pressed-state);
  border-radius: 2px;
  bottom: -1px;
  right: 0;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}
.active-item {
  color: var(--pressed-state);
}
.active-item::after,
.menu-item:hover::after,
.menu-item:focus::after,
.menu-item:active::after {
  opacity: 1;
}

.contact {
  display: none;
}

.contact-item {
  color: var(--text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-item:hover,
.contact-item:focus,
.contact-item:active {
  color: var(--pressed-state);
}

/* ======= PORTFOLIO ======= */

.section-filter {
  padding: 96px 0 120px;
}
.card-set-clients {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 16px;
  justify-content: center;
}

.card-set-images {
  column-gap: 24px;
  row-gap: 48px;
}
.li-item {
  width: 100%;
}
.li-item-services {
  width: 100%;
}
.card-set-link {
  overflow: hidden;
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay {
  position: relative;
  overflow: hidden;
}
.overlay-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-mode);
  padding: 40px 32px;
  background-color: var(--primary-brand);
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-set-link:hover p,
.card-set-link:focus p,
.card-set-link:active p {
  transform: translateY(0%);
}
.card-set-link:hover,
.card-set-link:focus,
.card-set-link:active {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.item-content {
  padding: 32px 16px;
  border: 1px solid var(--aacent);
  border-top: none;
  background-color: var(--main-white);
}

/* ======= SECTION 1 HERO ======= */
.hero-bg {
  margin: 0 auto;
  padding: 112px 0;
  background-color: var(--dark);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-background-office.jpg);
  background-size: cover;
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
}
.hero-title {
  margin-bottom: 72px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--main-white);
  text-align: center;
}
.btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.hero-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  margin: auto;
  padding: 16px 32px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  background-color: var(--primary-brand);
  color: var(--main-white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus,
.hero-btn:active {
  background-color: var(--pressed-state);
}
.filter-btn {
  min-width: 116px;
  height: 48px;
  margin: auto;
  padding: 12px 24px;
  border: 1px solid var(--aacent);
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--light-mode);
  color: var(--primary-brand);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-btn:hover,
.filter-btn:focus,
.filter-btn:active {
  border: 1px solid transparent;
  color: var(--main-white);
  background-color: var(--pressed-state);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
.main-header {
  margin-bottom: 72px;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark);
}
.titles {
  margin-bottom: 8px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.72px;
  color: var(--dark);
  text-align: center;
}

/* ======= SECTION 2 FEATURES ======= */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.list {
  list-style: none;
}
.card-set {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 72px;
  align-items: center;
}

.card-set-filter {
  flex-direction: row;
  margin-bottom: 72px;
  justify-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  gap: 16px 24px;
}

.features-icons-background {
  display: none;
}

/* ======= SECTION 3 WHAT WE DOING ======= */
.section-what-we-doing {
  display: none;
}

/* ======= SECTION 4 TEAM ======= */
.light-bg {
  background-color: var(--light-mode);
}
.team-card {
  background-color: var(--main-white);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  max-width: 264px;
}
.titles-team {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: var(--dark);
}
.worker {
  padding: 32px 0px;
}
.text {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.text-team {
  text-align: center;
  margin-bottom: 8px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 400;
}
.portfolio-text {
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color);
}
.social-icon {
  width: 40px;
  height: 40px;
}
.traling-icons {
  margin-top: 8px;
}

/* ======= SECTION 5 OUR CLIENTS ======= */

.client-icon {
  width: calc((100% - 32px) / 2);
  height: 88px;
}
.client-link {
  height: 100%;
  width: 100%;
  border: 1px solid var(--light-slate);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light-slate);
  transition-property: border-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client-link:hover,
.client-link:focus,
.client-link:active {
  border-color: var(--pressed-state);
  color: var(--pressed-state);
}
.social-icons-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--primary-brand);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus,
.social-link:active {
  background-color: var(--pressed-state);
}
.icon-color {
  fill: var(--light-mode);
}
.client-icon-color {
  fill: currentColor;
}

/* ======= FOOTER ======= */
.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}
.second-part-logo-footer {
  color: var(--light-mode);
}
.footer {
  padding: 100px 0;
  background-color: var(--dark);
}
.footer-text {
  color: var(--light-mode);
  max-width: 268px;
  font-weight: 400;
}
@media (max-width: 767px) {
  .footer-part,
  .social-media-footer-part,
  .subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
.footer-icons {
  gap: 16px;
}
.footer-icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--primary-brand);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon-color {
  fill: var(--light-mode);
}
.footer-icon-link:hover,
.footer-icon-link:focus,
.footer-icon-link:active {
  background-color: var(--green);
}
.container-footer {
  display: flex;
  flex-direction: column;
  gap: 72px;
}
.footer-icon-header {
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--main-white);
  margin-bottom: 16px;
}
.subscribe-label {
  width: 100%;
}
.subscribe-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  width: 100%;
}
.subscribe-input {
  border-radius: 4px;
  border: 1px solid var(--opacity-white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  min-width: 100%;
  height: 40px;
  background-color: transparent;
  padding: 8px 16px;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: var(--main-white);
}
.subscribe-btn {
  height: 40px;
  min-width: 165px;
  border-radius: 4px;
  background: var(--primary-brand);
  border: none;
  color: var(--main-white);
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-icon {
  margin-left: 16px;
}
.subscribe-btn:hover,
.subscribe-btn:focus,
.subscribe-btn:active {
  background-color: var(--green);
}
/* ======= POPUP OPTIONS ======= */
.backdrop {
  background-color: var(--modal-backdrop);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.pop-up {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 72px 24px 24px 24px;
  transform: translate(-50%, -50%) scale(1);
  min-width: 320px;
  min-height: 584px;
  border-radius: 4px;
  background-color: var(--modal-background);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  animation: popup-anime 1s 0.2s ease-in-out;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.close-btn {
  background-color: var(--aacent);
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover,
.close-btn:active,
.close-btn:focus {
  background-color: var(--pressed-state);
  border: none;
  fill: var(--main-white);
}
.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.modal-header {
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--dark);
  margin-bottom: 16px;
}
.label-container {
  margin-bottom: 8px;
}
.comment-container {
  margin-bottom: 16px;
}
.input-container {
  position: relative;
}
.checkbox-container {
  margin-bottom: 24px;
}
.form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-icon:hover,
.form-icon:active,
.form-icon:focus {
  fill: var(--primary-brand);
}
.contact-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid var(--modal-backdrop);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-input:hover,
.contact-form-input:active,
.contact-form-input:focus {
  border-color: var(--primary-brand);
}
.contact-form-input:hover + .form-icon,
.contact-form-input:active + .form-icon,
.contact-form-input:focus + .form-icon {
  fill: var(--primary-brand);
}
.textarea-contact-form {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--modal-backdrop);
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid var(--modal-backdrop);
  border-radius: 4px;
  background-color: transparent;
}
.textarea-contact-form:hover,
.textarea-contact-form:active,
.textarea-contact-form:focus {
  border-color: var(--primary-brand);
}
.label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  display: block;
  margin-bottom: 4px;
}
.privacy-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.checkbox:checked + .label .privacy-span {
  background-color: var(--pressed-state);
  border: none;
  fill: var(--light-mode);
}
.privacy-link {
  color: var(--primary-brand);
}

@keyframes popup-anime {
  0% {
    transform: translate(250%, -50%);
    opacity: 0%;
  }
  100% {
    transform: translate(-50%, -50%);
    opacity: 100%;
  }
}

/* ======= MOBILE MENU  ======= */
.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--dark);
}
.menu-toggle:hover,
.menu-toggle:focus {
  background-color: var(--pressed-state);
  fill: var(--main-white);
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 80px 40px;
  background-color: var(--main-white);
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
.contact-menu-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.mobile-number-link {
  font-size: 7.5vw;
  line-height: 40px;
  letter-spacing: 0.72px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-number-link:hover {
  color: var(--green);
}
.mobile-mail-link {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: var(--text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-mail-link:hover {
  color: var(--pressed-state);
}
.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: var(--aacent);
  min-height: 24px;
  min-width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-container .menu-toggle:hover,
.menu-container .menu-toggle:active,
.menu-container .menu-toggle:focus {
  background-color: var(--pressed-state);
  border: none;
  fill: var(--main-white);
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu .link {
  display: block;
  margin-bottom: 40px;
  color: var(--dark);
  text-decoration: none;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu .link:hover {
  color: var(--pressed-state);
}
.social-media-modal-part {
  display: flex;
  max-width: 320px;
}
.modal-icons {
  width: 100%;
  justify-content: space-between;
}
/* ======= TABLET + DESKTOP  ======= */

@media (min-width: 768px) {
  .container {
    margin: 0 auto;
    padding: 0 15px;
  }
  .section {
    padding: 120px 0;
  }
  .menu-container {
    display: none;
  }
  .nav-menu-list {
    display: flex;
    gap: 40px;
  }

  .menu-toggle {
    display: none;
  }

  .contact {
    display: block;
    font-style: normal;
    margin-left: auto;
  }
  .hero-title {
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
  }
  .card-set {
    flex-direction: row;
    gap: 72px 24px;
    justify-content: center;
  }
  .card-set-team {
    gap: 64px 24px;
  }

  .card-set-filter {
    justify-content: center;
  }

  .titles {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
  }
  .text {
    font-weight: 400;
  }
  .features-icons-background {
    display: none;
  }

  .card-set-clients {
    gap: 72px 24px;
  }
  .client-icon {
    width: calc((100% - 48px) / 3);
  }

  .li-item {
    width: calc((100% - 24px) / 2);
  }
  .li-item-services {
    width: calc((100% - 48px) / 3);
  }

  .container-footer {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 72px 24px;
  }

  .subscribe-form {
    flex-direction: row;
    gap: 24px;
  }
  .subscribe-input {
    min-width: 264px;
    border: 1px solid var(--main-white);
  }
  .footer-text {
    color: var(--light-mode);
  }
  .subscribe {
    margin-right: 24px;
  }
  .social-media-footer-part {
    margin-right: 80px;
  }
  .logo {
    margin-right: 76px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .address-list {
    flex-direction: column;
    gap: 0;
  }
  .contact-item {
    padding: 0;
    font-size: 12px;
  }
  .contact {
    padding: 16px 0;
  }

  .section-team {
    display: flex;
  }
  .container-team {
    display: flex;
    flex-direction: column;
  }
  .container-footer {
    padding-left: 108px;
  }
  .team-card {
    min-width: 264px;
  }
  .card-set-team,
  .card-set-clients {
    max-width: 552px;
  }
}

@media (min-width: 1200px) {
  .hero-bg {
    padding: 188px 0;
  }
  .card-set {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }
  .features-icons-background {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    margin-bottom: 8px;
    border-radius: 4px;
    background-color: var(--light-mode);
  }
  .li-item {
    width: calc((100% - 72px) / 4);
  }
  .section-what-we-doing {
    display: block;
    padding-bottom: 120px;
  }
  .client-icon {
    width: calc((100% - 120px) / 6);
    height: 88px;
  }
  .card-set-clients {
    gap: 24px;
  }
  .container-footer {
    flex-wrap: nowrap;
  }
  .footer-part {
    margin-right: 120px;
  }
}
